[build-system]
requires = [
    "setuptools>=42",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py36, py39
isolated_build = True

[testenv]
commands=nosetests
deps=
    nose
    mock
"""
