[portal]
url = https://user.lastline.com/papi
auth_method = account
username =
password =
verify_ssl = True
timeout = 60

[analysis]
url = https://analysis.lastline.com/
auth_method = account
key =
api_token =
verify_ssl = True
timeout = 60
